.container.scalable {
  width: 100%;
  max-width: none;
}

/* Remove Undo
–––––––––––––––––––––––––––––––––––––––––––––––––– */
._dash-undo-redo {
  display: none;
}

body {
  background-color: #171b26;
  color: #FFF;
  overflow-x: hidden;
}

.banner {
  height: 5rem;
  margin-bottom: 1rem;
  padding: 0rem 5rem 0rem;
  display: flex;
  flex-direction: row nowrap;
  align-items: center;
  justify-content: space-between;
}

.banner h6 {
  font-size: 24px;
  font-weight: 600;
  line-height: 1;
  text-transform: uppercase;
}

.banner Img {
  position: relative;
  height: 2rem;
  width: auto;
}

#upper-container, #lower-container {
  margin: 2rem 5rem;
}

.control-row-1 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

#state-select-outer, #select-metric-outer {
  width: 45%;
}

.section-title, p {
  margin: 10px 0px;
  font-size: 22px;
  display: block;
  font-weight: 600;
}

#package-select {
  color: #FFF;
}

#measure-select {
  color: #FFF;
}

*.Select-control, Select--single, .Select-multi-value-wrapper, .Select-value, .Select-value-label {
  background-color: #171b26 !important;
  color: #FFF;
}

.Select-control, .Select-menu-outer {
  border: 1px solid dimgrey !important;
}

.Select-control {
  color: #FFF;
}

span.Select-clear-zone {
  display: none !important;
}

.Select-menu-outer, .Select-menu-outer div, .Select--multi {
  background-color: #171b26 !important;
  color: #FFF
}

.Select-menu-outer div:hover {
  color: white !important;
  cursor: pointer;
}

#package-select-all, #state-select-outer > label, #select-metric-outer > label {
  margin-bottom: 2px;
  color: #7b7d8d;
}

.dash-spreadsheet-container .dash-spreadsheet-inner th, td {
  font-family: "Open Sans", sans-serif !important;
  border-top-color: #171b26 !important;
  border-bottom-color: #171b26 !important;
  border-left-color: #171b26 !important;
  border-right-color: #171b26 !important;
  font-size: 11px;
}

#lower-container {
  border-top: 1px solid #1f2536;
}

.dependencies-graph {
  float: left;
}

#parallel-coordinates-loading-outer {
  height: 60;
}

#parallel-coordinates-outer {
  height: 60;
}

#parallel-coordinates {
  height: 60;
}

/* Legend hack */
#parallel-coordinates .legend .traces .legendtoggle {
  display: none;
}

#parallel-coordinates .legend .traces .legendtext {
  cursor: default;
}

#parallel-coordinates .scatter .point {
  display: none;
}
/* End legend hack */

#footer {
  text-align: center;
}

.padding-bottom {
  padding-bottom: 20px;
}


/*#dependencies-graph {
  margin: -300px 0px -200px 0px;
}*/

.mapboxgl-canvas,
.mapboxgl-map {
  min-width: 100%;
}

.dash-table-container {
  overflow: auto;
}

.dash-error-menu {
  color: #000;
}

/*
  ##Device = Most of the Smartphones Mobiles (Portrait)
  */

@media only screen and (max-width: 750px) {
  .control-row-1 {
    flex-direction: column;
  }

  #state-select-outer, #select-metric-outer {
    width: 100%;
  }
}

@media only screen and (max-width: 750px), (min-width: 768px) and (max-width: 1024px) {
  body {
    font-size: 14px;
  }

  .section-title, p {
    font-size: 14px;
  }

  .banner {
    padding: 0rem 2rem;
  }

  .banner h6 {
    font-size: 1.5rem;
  }

  .banner img {
    height: 1.5rem;
  }

  #upper-container {
    margin: 1rem;
  }

  #upper-left > div > label {
    font-weight: normal;
    margin-bottom: 2px;
  }

  #upper-left, #parallel-coordinates-outer {
    width: 100%;
    margin-left: 0;
  }

  #lower-container {
    position: relative;
  }

  g.yaxislayer-above > g > text {
    font-size: 10px !important;
  }

}

/*
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/
@media only screen and (min-width: 768px) and (max-width: 1024px) {

  #state-select-outer, #select-metric-outer {
    width: 45%;
  }

}